# https://vercel.com/docs/storage/vercel-postgres
POSTGRES_URL=

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=5f306b8b6583b9cfaabba825338a842c # https://generate-secret.vercel.app/32

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=